@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Home Page</h1>
    <p>
        <a asp-controller="Games" asp-action="Index">Browse games</a>
    </p>
</div>
