html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Complement dark mode background */
a {
  color: #5aa2ff;
}

a:hover {
  color: #4a98ff;
}

input, textarea, select, .form-control, .form-control:focus {
  background-color: #33363b;
  border: 1px solid #5c5c5c;
  color: inherit;
}

.form-control:disabled {
  background-color: #282b31;
}

.input-group-text {
  background-color: #282b31;
  border: 1px solid #5c5c5c;
}

dt {
  font-weight: 300;
  color: #d1d1d1;
}

.item-dark {
  background-color: #1a1d21;
  color: #eee;
}
